/* resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.vtb-item-players {
    background-color: transparent !important;
}

.vtb-item p {
    background-color: transparent !important;
    padding: 15px !important;
}